<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysCourseMapper">
    
    <resultMap type="SysCourse" id="SysCourseResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="price"    column="price"    />
        <result property="about"    column="about"    />
        <result property="discroption"    column="discroption"    />
        <result property="lesson"    column="lesson"    />
        <result property="duration"    column="duration"    />
        <result property="maxStudents"    column="max_students"    />
        <result property="teacher"    column="teacher"    />
    </resultMap>

    <sql id="selectSysCourseVo">
        select id, name, price, about, discroption, lesson, duration, max_students, teacher from sys_course
    </sql>

    <select id="selectSysCourseList" parameterType="SysCourse" resultMap="SysCourseResult">
        <include refid="selectSysCourseVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="about != null  and about != ''"> and about = #{about}</if>
            <if test="discroption != null  and discroption != ''"> and discroption = #{discroption}</if>
            <if test="lesson != null "> and lesson = #{lesson}</if>
            <if test="duration != null "> and duration = #{duration}</if>
            <if test="maxStudents != null  and maxStudents != ''"> and max_students = #{maxStudents}</if>
            <if test="teacher != null  and teacher != ''"> and teacher = #{teacher}</if>
        </where>
    </select>
    
    <select id="selectSysCourseById" parameterType="Long" resultMap="SysCourseResult">
        <include refid="selectSysCourseVo"/>
        where id = #{id}
    </select>

    <insert id="insertSysCourse" parameterType="SysCourse" useGeneratedKeys="true" keyProperty="id">
        insert into sys_course
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="price != null">price,</if>
            <if test="about != null and about != ''">about,</if>
            <if test="discroption != null and discroption != ''">discroption,</if>
            <if test="lesson != null">lesson,</if>
            <if test="duration != null">duration,</if>
            <if test="maxStudents != null and maxStudents != ''">max_students,</if>
            <if test="teacher != null and teacher != ''">teacher,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="price != null">#{price},</if>
            <if test="about != null and about != ''">#{about},</if>
            <if test="discroption != null and discroption != ''">#{discroption},</if>
            <if test="lesson != null">#{lesson},</if>
            <if test="duration != null">#{duration},</if>
            <if test="maxStudents != null and maxStudents != ''">#{maxStudents},</if>
            <if test="teacher != null and teacher != ''">#{teacher},</if>
         </trim>
    </insert>

    <update id="updateSysCourse" parameterType="SysCourse">
        update sys_course
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="price != null">price = #{price},</if>
            <if test="about != null and about != ''">about = #{about},</if>
            <if test="discroption != null and discroption != ''">discroption = #{discroption},</if>
            <if test="lesson != null">lesson = #{lesson},</if>
            <if test="duration != null">duration = #{duration},</if>
            <if test="maxStudents != null and maxStudents != ''">max_students = #{maxStudents},</if>
            <if test="teacher != null and teacher != ''">teacher = #{teacher},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysCourseById" parameterType="Long">
        delete from sys_course where id = #{id}
    </delete>

    <delete id="deleteSysCourseByIds" parameterType="String">
        delete from sys_course where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>